@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #101010;
  height: 100vh;
  overflow: hidden;
}

.home-bg {
  height: 100vh;
  width: 100%;
  background-image: url("/public/assets/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@tailwind base;
@tailwind components;
@tailwind utilities;